<div class="v-stack gap-3">
  <%= form_for :session, url: session_path do |form| %>
    <div class="text-field">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "r-input" %>
    </div>

    <div class="password-field">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "r-input" %>
    </div>

    <div class="submit-field mt-3">
      <%= form.submit class: "r-btn" %>
    </div>

    <div class="other-links d-flex mt-5">
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_up"), sign_up_path, class: "me-3" %>
      <% end %>
      <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  <% end %>
</div>
