<%= render "header" %>

<div class="container-small">
  <div class="v-stack">
    <%= render "shared/auth_logo" %>

    <h1>Sign in</h1>
  </div>

  <%= form_with model: @user, url: session_path do |form| %>
    <div class="v-stack">
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, class: "input__text" %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, class: "input__text" %>
    </div>

    <div>
      <%= form.submit "Continue", class: "btn" %>
    </div>

    <div>
      <%= link_to "Forgot your password?", new_password_reset_path %>
    </div>
    </div>
  <% end %>

</div>
