<div class="vstack">
  <%= render @therapy %>

  <div>
    <%= form_with model: @note, url: therapy_notes_path(@therapy), class: "vstack" do |f| %>
      <% if @note.errors.any? %>
        <div class="validation-error">
          <% @note.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= f.label :date %>
        <%= f.date_field :date, min: 2.weeks.ago, max: Date.today, required: true %>
      </div>
      <div>
        <%= f.rich_text_area :content, class: "note-rich-text-area", required: true %>
      </div>
      <div>
        <%= f.submit "Save", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
