<h1><%= @questionnaire.title %></h1>

<p class="large-text"><%= @questionnaire.description %></p>

  <% if @assignment.completed? %>
    <div class="card">
      <p>Assignment completed <%= image_tag "icons/tick.svg", alt: "Check icon", class: "icon" %></p>
      <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Response</th>
          </tr>
        </thead>
        <tbody>
          <% @assignment.responses.each do |response| %>
          <tr>
            <td><%= response.question.title %></td>
            <td><%= @questionnaire.questions.find(response.question_id).response_options[response.score.to_s] %></td>
            </p>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="card container-small">
      <%= form_with model: @response, data: { controller: "ratings", action: "keydown.space@document->ratings#submit" } do |f| %>
      <p><%= @question.title %></p>

      <%= f.hidden_field :question_id, value: @question.id %>
      <%= f.hidden_field :assignment_id, value: @assignment.id %>

      <div class="vstack">
        <div id="ratings">
          <% @question.response_options.each do |key, value| %>
            <div class="rating">
              <%= f.label(
                :content,
                for: "response_#{key}",
                class: "reflet-radio",
                data: { action: "keydown.#{key.to_i + 1}@document->ratings#select", ratings_target: "rating" }
              ) do %>
              <%= value %>
              <%= f.radio_button :score, key, id: "response_#{key}", required: true %>
              <span class="checkmark"></span>
            <% end %>
            <div class="rating-n-helper"><%= key.to_i + 1 %></div>
            </div>
          <% end %>
        </div>

        <div id="rating-submit">
          <%= f.submit "Continue", class: "btn btn--block" %>
          <div class="rating-submit-helper">SPACE</div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
