<div class="container">
  <div class="action-header">
    <div>
      <h1>Clients</h1>
    </div>
    <div data-controller="modal">
      <%= button_tag "Invite a new client", class: "btn", data: { action: "modal#show" } %>
      <dialog data-modal-target="dialog">
        <div class="action-header">
          <div>
            <h1>New client</h1>
          </div>
          <div>
            <%= button_tag data: { action: "modal#close" }, class: "btn--transparent" do %>
              <%= image_tag "x-lg.svg", alt: "Close", width: 20, height: 20 %>
            <% end %>
          </div>
        </div>
        <%= form_with model: @invitation, method: :dialog do |f| %>
          <%= render "invitations/form", f: %>
        <% end %>
      </dialog>
    </div>
  </div>
</div>

<% if current_user.sent_invitations.any? { |i| i.persisted? } %>
  <div>
    <p><%= link_to "Sent invitations", invitations_path %></p>
  </div>
<% end %>

<% if current_user.therapies.any? %>
  <% @therapies.each do |therapy| %>
    <div class="vstack">
      <div>
        <%= link_to therapy do %>
          <%= render therapy %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card">
    <h2>Time to Add Your First Client!</h2>
    <%= image_tag "illustrations/clients.svg", alt: "Illustration of clients", class: "illustration" %>
    <p>This page is where you'll connect with, manage, and support all your clients.</p>
    <p>Once you add them, you'll gain access to features designed to make your practice run smoothly.</p>
    <p>Ready to get started? Your first client is just a few steps away from being added!</p>
  </div>
<% end %>
