<div class="card">
  <h2><%= @questionnaire.title %></h2>
  <% if @assignment.completed? %>
    <p><strong>Assigned on:</strong> <%= @assignment.created_at.strftime("%B %d, %Y") %><br>
    <strong>Status:</strong> Completed on <%= @assignment.completed_at.strftime("%B %d, %Y") %></p>
    <div>
      <% @questionnaire.questions.each do |question| %>
        <p>
        <strong><%= question.title %></strong><br>
        <%= Response.find_by(question:, assignment: @assignment).content %>
        </p>
      <% end %>
    </div>
  <% else %>
    <p><strong>Assigned on:</strong> <%= @assignment.created_at.strftime("%B %d, %Y") %><br>
    <strong>Status:</strong> In progress</p>
    <%= button_to(
      "Delete assignment",
      therapy_assignment_path(@therapy, @assignment),
      method: :delete,
      data: { turbo_confirm: "Are you sure you want to delete this assignment?" },
      class: "btn btn--destructive"
    ) %>
  <% end %>
</div>
