<div class="action-header">
  <div>
    <h1>Assignments</h1>
  </div>
  <div>
    <% if current_user.therapist? %>
      <%= render "shared/modal", btn_text: "Create an assignment", title: "Create an assignment" do %>
        <% form_with model: @assignment, url: therapy_assignments_path(@therapy) do |f| %>
          <%= render "form", f: %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @assignments.open.any? %>
  <h3>Open</h3>
  <div class="card">
    <% @assignments.open.each do |assignment| %>
      <%= link_to assignment_path(assignment) do %>
        <p>
        <strong>Title:</strong> <%= assignment.assignable.title %><br>
        <strong>Assigned:</strong> <%= assignment.created_at.strftime("%B %d, %Y") %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @assignments.completed.any? %>
  <h3>Completed</h3>
  <div class="card">
    <% @assignments.completed.each do |assignment| %>
      <%= link_to assignment_path(assignment) do %>
        <p>
        <strong>Title:</strong> <%= assignment.assignable.title %><br>
        <strong>Completed:</strong> <%= assignment.completed_at.strftime("%B %d, %Y") %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
