<div class="action-header">
  <div>
    <h1>Assignments</h1>
  </div>
  <div>
    <% if current_user.therapist? %>
      <%= render "shared/modal", btn_text: "Create an assignment", title: "Create an assignment" do %>
        <% form_with model: @assignment, url: therapy_assignments_path(@therapy) do |f| %>
          <%= render "form", f: %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="vstack">
<% if @open_assignments.any? %>
  <div class="card">
    <h2>Open</h2>
    <% @open_assignments.each do |assignment| %>
      <p>
        <%= link_to(
          "#{assignment.assignable.title} (assigned on #{assignment.created_at.strftime("%B %d, %Y")})",
          therapy_assignment_path(@therapy, assignment)
        ) %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @completed_assignments_by_month.any? %>
  <div class="card">
    <h2>Completed</h2>
    <% @completed_assignments_by_month.each do |month, assignments| %>
      <h3><%= month %></h3>
      <% assignments.each do |assignment| %>
        <p>
          <%= link_to(
            "#{assignment.assignable.title} (completed on #{assignment.completed_at.strftime("%B %d, %Y")})",
            therapy_assignment_path(@therapy, assignment)
          ) %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>

<% if [@open_assignments, @completed_assignments_by_month].all?(&:empty?) %>
  <div class="card hstack hstack--card">
    <div>
    <h2>No assignments yet!</h2>
    <p>There are no assignments for this therapy yet.</p>
    <p>Therapists can create assignments on their Reflet dashboard, whilst clients can sit back and relax!</p>
    </div>
    <div>
    <%= image_tag "illustrations/assignments.svg", alt: "Illustration of assignments", class: "illustration" %>
    </div>
  </div>
<% end %>
