<% if @thought_record.errors.any? %>
  <div class="validation-error">
    <p class="validation-title">
      <%= pluralize(@thought_record.errors.count, "error") %> prohibited this
      thought record from being saved:
    </p>

    <ul>
      <% @thought_record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="vstack">
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content, required: true %>
  </div>
</div>
