<div id="<%= dom_id thought_record %>">
  <p>
    <strong>Situation:</strong>
    <%= thought_record.situation %>
  </p>

  <p>
    <strong>Feelings:</strong>
    <%= thought_record.feelings %>
  </p>

  <p>
    <strong>Thoughts:</strong>
    <%= thought_record.thoughts %>
  </p>

  <p>
    <strong>Evidence for:</strong>
    <%= thought_record.evidence_for %>
  </p>

  <p>
    <strong>Evidence against:</strong>
    <%= thought_record.evidence_against %>
  </p>

  <p>
    <strong>Alternative thoughts:</strong>
    <%= thought_record.alternative_thoughts %>
  </p>

  <p>
    <strong>Alternative feelings:</strong>
    <%= thought_record.alternative_feelings %>
  </p>

</div>
