<p><strong>Thought Record</strong></p>

<p style="color: green"><%= notice %></p>

<%= render @thought_record %>

<div class="vstack">
  <div>
  <%= link_to "Edit this thought record", edit_thought_record_path(@thought_record) %> |
  <%= link_to "Back to thought records", thought_records_path %>
  </div>

  <div>
  <%= button_to "Delete", @thought_record, method: :delete %>
  </div>
</div>
