<p style="color: green"><%= notice %></p>

<%= render @thought_record %>

<div>
  <%= link_to "Edit this thought record", edit_thought_record_path(@thought_record) %> |
  <%= link_to "Back to thought records", thought_records_path %>

  <%= button_to "Destroy this thought record", @thought_record, method: :delete %>
</div>
