<ul>
  <li>
    <%= link_to "Dashboard", root_path %>
  </li>
  <li>
    <%= link_to "Needs", needs_records_path %>
  </li>
  <li>
    <%= link_to "Thoughts", thought_records_path %>
  </li>
  <li>
    <%= link_to "Behaviours", thought_records_path %>
  </li>
  <li>
    <%= link_to "Therapy", therapies_path %>
  </li>
</ul>
