<div class="vstack">
  <div>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</div>

<div class="hstack">
  <div>
    <%= f.submit "Update", class: "btn" %>
  </div>
  <div>
    <%= link_to "Cancel", user_path(@user), class: "btn btn--secondary" %>
  </div>
</div>
</div>
