<div class="card container-small vstack">
  <div>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :avatar %>
    <div class="hstack">
      <div>
        <%= image_tag avatar_path, class: "avatar avatar--large" %>
      </div>
      <div>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <legend class="text-secondary text-small">For best results, upload a square image at least 300x300 pixels.</legend>
  </div>

  <div class="text-center vstack">
    <div>
      <%= f.submit "Save changes", class: "btn btn--block" %>
    </div>
    <div>
      <%= link_to "Sign out", session_path, class: "btn btn--destructive btn--block", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" } %>
    </div>
  </div>
</div>
