<div class="container">
  <h1>Dashboard</h1>

  <% if @user.blank_slate? %>
    <%= render 'blank_slate' %>

  <% else %>
    <div class="my-4">
      <h5>
        <%= link_to "Rate your needs", ratings_path, class: 'r-btn' %>
      </h5>
    </div>

    <div class="vstack gap-3">

      <% if @user.ratings.rare.count > 0 %>
        <div>
          <h2>Rarely met needs</h2>

          <div class="r-card p-5 bg-rare">
            <div class="d-flex flex-wrap hstack gap-3">
              <% @user.ratings.rare.each do |r| %>
                <div><%= r.need.title %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @user.ratings.sometimes.count > 0 %>
        <div>
          <h2>Sometimes met needs</h2>

          <div class="r-card p-5 bg-sometimes">
            <div class="d-flex flex-wrap hstack gap-3">
              <% @user.ratings.sometimes.each do |r| %>
                <div><%= r.need.title %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @user.ratings.consistent.count > 0 %>
        <div>
          <h2>Consistenly met needs</h2>

          <div class="r-card p-5 bg-consistent">
            <div class="d-flex flex-wrap hstack gap-3">
              <% @user.ratings.consistent.each do |r| %>
                <div><%= r.need.title %></div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
</div>
