<% if current_user.is_a?(Individual) %>
<div class="container">
  <div class="action-header">
    <div>
      <h1>Dashboard</h1>
    </div>

    <% if current_user.can_create_needs_record? %>
      <div>
        <%= render "needs_records/form" %>
      </div>
    <% end %>
  </div>

  <% if current_user.latest_needs_record %>
    <%= render "latest_needs_record", needs_record: current_user.latest_needs_record %>
  <% end %>
</div>
<% else %>
  <div class="container">
    <div class="action-header">
      <div>
        <h1>Clients</h1>
      </div>
      <div data-controller="modal">
        <%= button_tag "Add new", class: "btn", data: { action: "modal#show" } %>
        <dialog data-modal-target="dialog">
          <div class="action-header">
            <div>
            <h1>New client</h1>
            </div>
            <div>
              <%= button_tag data: { action: "modal#close" }, class: "btn--transparent" do %>
                <%= image_tag "x-lg.svg", alt: "Close", width: 20, height: 20 %>
              <% end %>
            </div>
          </div>
          <%= form_with model: @invitation, method: :dialog do |f| %>
            <%= render "invitations/form", f: %>
          <% end %>
        </dialog>
      </div>
    </div>
  </div>
  <div>
    <% @therapies.each do |therapy| %>
      <%= link_to therapy do %>
        <%= render therapy %>
      <% end %>
    <% end %>
  </div>
  </div>
<% end %>
