<%= render "header" %>

<div class="container-small">
  <div class="v-stack">
    <%= render "shared/auth_logo" %>

    <h1>Sign up</h1>
  </div>

<%= form_with model: @user, url: registration_path do |form| %>
  <div class="vstack">
    <% if form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>

    <div>
      <%= form.label :forename, "First name" %>
      <%= form.text_field :forename %>
    </div>

    <div>
      <%= form.label :surname, "Last name" %>
      <%= form.text_field :surname %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, class: "input__text" %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, class: "input__text" %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "input__text" %>
    </div>

    <div>
      <%= form.submit "Continue", class: "btn" %>
    </div>
  </div>
<% end %>
</div>
