<%= render "header" %>

<div class="container-small">
  <div class="v-stack">
    <%= render "shared/auth_logo" %>

    <h1>Sign up</h1>
    <%= form_with model: @user, url: registration_path, class: "vstack" do |form| %>
      <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>

      <div>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :email %>
        <%= form.email_field :email, readonly: @invitation.present? %>
      </div>

      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </div>

      <%= hidden_field_tag :invitation_id, params[:invitation_id] %>

      <div>
        <%= form.label :type, "Account type" %>

        <div class="reflet-radio__group">
          <div class="reflet-radio__border-bottom">
            <%= form.label :type, for: "type_individual", class: "reflet-radio" do %>
              Individual
              <%= form.radio_button :type, "Individual", id: "type_individual" %>
              <span class="checkmark"></span>
            <% end %>
          </div>

          <%= form.label :type, for: "type_therapist", class: "reflet-radio" do %>
            Therapist
            <%= form.radio_button :type, "Therapist", id: "type_therapist", disabled: @invitation.present? %>
            <span class="checkmark"></span>
            <div class="reflet-radio__info">£10/month</div>
          <% end %>
        </div>
      </div>

      <div>
        <%= form.submit "Continue", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
