<%= render "header" %>

<div class="container-small vstack">
  <div class="text-center">
    <%= render "shared/auth_logo" %>
  </div>

  <div class="card">
    <div class="text-center">
      <h2>Create your account</h2>
      <% if @invitation.present? %>
        <p class="text-secondary"><%= @invitation.inviter %> has invited you to join Reflet.</p>
      <% else %>
        <p class="text-secondary">It's quick and easy.</p>
      <% end %>
    </div>

    <%= form_with model: @user, url: registration_path, class: "vstack" do |form| %>
      <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>

      <div>
        <%= form.text_field :name, placeholder: "Name", required: true %>
      </div>

      <div>
        <%= form.label :email, class: "registration-label" %>
        <%= form.email_field :email, readonly: @invitation.present?, placeholder: "Email", required: true %>
      </div>

      <div>
        <%= form.password_field :password, placeholder: "Password", required: true %>
      </div>

      <div>
        <%= form.password_field :password_confirmation, placeholder: "Confirm password", required: true %>
      </div>

      <%= hidden_field_tag :invitation_id, params[:invitation_id] %>

      <div>
        <%= form.label :type, "Account type" %>

        <div class="reflet-radio__group">
          <div class="reflet-radio__border-bottom">
            <%= form.label :type, for: "type_individual", class: "reflet-radio" do %>
              Individual
              <%= form.radio_button :type, "Individual", id: "type_individual" %>
              <span class="checkmark"></span>
            <% end %>
          </div>

          <%= form.label :type, for: "type_therapist", class: "reflet-radio" do %>
            Therapist
            <%= form.radio_button :type, "Therapist", id: "type_therapist", disabled: @invitation.present? %>
            <span class="checkmark"></span>
            <div class="reflet-radio__info">
              <strong>Free trial</strong> (one month), then <strong>£15/month</strong><br>
              Free whilst Reflet is in build
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center">
        <%= form.submit "Sign up", class: "btn btn--block" %>
      </div>
    <% end %>
  </div>
</div>
