<div class="nav-container">
  <nav class="container navbar">
    <div class="hstack">
      <%= image_tag "logo-sm.png", class: "nav-logo", alt: "Reflet logo" %>
      <% if current_user.is_a?(Individual) %>
        <%= render "individuals/navbar" %>
      <% elsif current_user.is_a?(Therapist) %>
        <%= render "therapists/navbar" %>
      <% end %>
    </div>
    <div data-controller="dropdown" data-action="click->dropdown#toggle">
      <div class="nav-expand" data-dropdown-target="btn">
        <%= image_tag avatar_path, class: "avatar avatar--small" %>
      </div>
      <%= turbo_frame_tag "user-menu", data: { dropdown_target: "menu" }, class: "nav-dropdown hidden", target: "_top" do %>
        <div class="menu-item"><%= link_to current_user, user_path(current_user) %></div>
        <div class="menu-item"><%= link_to "Logout", session_path, data: { turbo_method: :delete } %></div>
      <% end %>
    </div>
  </nav>
</div>
