<nav>
  <ul>
    <li>
      <%= link_to "Dashboard", root_path %>
    </li>
    <li>
      <%= link_to "Reports", reports_path %>
    </li>
    <li>
      <%= link_to "Thought Records", thought_records_path %>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to current_user, user_path(current_user) %>
    </li>
    <li>
      <%= button_to "Log out", session_path, method: :delete %>
    </li>
  </ul>
</nav>
