<div class="nav-container">
  <nav class="container navbar">
    <div class="hstack">
      <%= image_tag "logo-sm.png", class: "nav-logo", alt: "Reflet logo" %>
      <% if current_user.is_a?(Individual) %>
        <%= render "individuals/navbar" %>
      <% elsif current_user.is_a?(Therapist) %>
        <%= render "therapists/navbar" %>
      <% end %>
    </div>
    <div>
      <%= link_to user_path(current_user) do %>
        <%= image_tag avatar_path, class: "avatar avatar--small" %>
      <% end %>
    </div>
  </nav>
</div>
