<%= form_with model: @rating, local: false do |f| %>
  <% if @rating.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% rating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :report_id, value: @report.id %>

  <div class="vstack">
  <% Rating::RATINGS.each do |rating| %>
    <%= f.label :title, rating, for: "rating_#{rating.parameterize}", class: "reflet-radio" do %>
      <%= rating %>
      <%= f.radio_button :title, rating, id: "rating_#{rating.parameterize}" %>
      <span class="checkmark"></span>
    <% end %>
  <% end %>
  </div>

  <%= f.submit %>
<% end %>
