<div class="vstack">
  <% if @invitation.errors.any? %>
    <div class="validation-error">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% @invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
  </div>

  <div>
    <%= f.submit "Invite", class: "btn" %>
  </div>
</div>
