<div class="container">
  <nav class="therapy-nav">
    <% if current_user.therapist? %>
      <%= therapy_nav_link_for url: therapy_notes_path(@therapy), text: "ðŸ“ Notes" %>
    <% end %>
    <%= therapy_nav_link_for url: therapy_assignments_path(@therapy), text: "ðŸ“ƒ Assignments" %>
    <%= therapy_nav_link_for url: therapy_attachments_path(@therapy), text: "ðŸ“ Attachments" %>
    <%= therapy_nav_link_for url: therapy_needs_records_path(@therapy), text: "ðŸ§‘ Needs Records" %>
    <%= therapy_nav_link_for url: therapy_thought_records_path(@therapy), text: "ðŸ’­ Thought Records" %>
  </nav>
</div>
