<div id="<%= dom_id therapy %>" class="container therapy-summary card">
  <div class="hstack">
    <div>
      <%= image_tag avatar_path(therapy.counterpart(current_user)), class: "avatar avatar--small" %>
    </div>
    <div>
      <strong><%= therapy.counterpart(current_user) %></strong><br>
      <span class="text-small text-secondary">
        <%= therapy.counterpart(current_user).email %>
      </span>
    </div>
  </div>

  <%= yield %>
</div>
