<div id="<%= dom_id therapy %>">
  <p>
    <strong>Individual:</strong>
    <%= therapy.individual_id %>
  </p>

  <p>
    <strong>Therapist:</strong>
    <%= therapy.therapist_id %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= therapy.started_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= therapy.completed_at %>
  </p>

</div>
