<div class="action-header" %>
<div>
  <h1><%= "Therapy".pluralize(@therapies.count) %></h1>
</div>
<div>
  <%= render "shared/modal", btn_text: "Connect with a therapist", title: "Invite a therapist" do %>
    <p>Use this form to invite a therapist to join Reflet.
    <%= form_with model: @invitation do |f| %>
      <%= render "invitations/form", f: %>
    <% end %>
  <% end %>
</div>
</div>

<% if current_user.pending_invitations.any? %>
  <h2>Invitations</h2>
  <%= render "invitations/received", invitations: current_user.pending_invitations %>
<% end %>

<div id="therapies" class="vstack">
  <% @therapies.each do |therapy| %>
    <div>
      <%= link_to therapy, class: "text-decoration-none" do %>
        <%= render therapy %>
      <% end %>
    </div>
  <% end %>
</div>
