<p style="color: green"><%= notice %></p>

<h1><%= "Therapy".pluralize(@therapies.count) %></h1>

<% if current_user.pending_invitations.any? %>
  <h2>Invitations</h2>
  <%= render "invitations/received", invitations: current_user.pending_invitations %>
<% end %>

<div id="therapies" class="vstack">
  <% @therapies.each do |therapy| %>
    <div>
      <%= link_to therapy do %>
        <%= render therapy %>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user.individual? %>
  <%= link_to "Connect with a therapist", new_invitation_path %>
<% end %>
