<div class="vstack">
  <div>
    <p>
    <%= link_to "Therapies", therapies_path %> &gt; <%= @therapy.client %>
    </p>
  </div>

  <%= render @therapy %>

  <% if current_user.therapist? %>
    <%= render "notes" %>
  <% end %>

  <%= render "attachments" %>

  <%= render "assignments", assignments: @assignments if @assignments.any? %>

</div>
