<div class="vstack">
  <%= link_to "< Back", therapies_path, class: "btn btn--secondary" %>

  <%= render @therapy %>

  <%= render "attachments" %>

  <div class="hstack">
    <div>
      <%= link_to "Edit", edit_therapy_path(@therapy), class: "btn" %>
    </div>
    <div>
      <%= button_to "Delete", @therapy, method: :delete, class: "btn--destructive" %>
    </div>
  </div>
</div>
