<div class="action-header">
  <div>
    <h1>Needs Record</h1>
  </div>
  <% if @therapy.present? %>
    <div>
      <%= form_with model: @needs_record do |f| %>
        <%= f.hidden_field :therapy_id, value: nil %>
        <%= f.submit "Unshare with #{@therapy.therapist}", class: "btn btn--secondary" %>
      <% end %>
    </div>
  <% elsif current_user.therapies.any? %>
    <div>
      <%= render "shared/modal", btn_text: "Share", title: "Share with" do %>
        <%= render "share" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render @needs_record %>
