<h1><%= needs_record %></h1>

<% if needs_record.ratings.where(status: :consistent).any? %>
  <h3>Consistently met</h3>
  <div class="card needs-record-summary">
    <% needs_record.ratings.where(status: :consistent).each do |rating| %>
      <div class="need <%= need_color_class(rating) %>"><%= rating.need %></div>
    <% end %>
  </div>
<% end %>

<% if needs_record.ratings.where(status: :sometimes).any? %>
  <h3>Sometimes met</h3>
  <div class="card needs-record-summary">
    <% needs_record.ratings.where(status: :sometimes).each do |rating| %>
      <div class="need <%= need_color_class(rating) %>"><%= rating.need %></div>
    <% end %>
  </div>
<% end %>

<% if needs_record.ratings.where(status: :rare).any? %>
  <h3>Rarely met</h3>
  <div class="card needs-record-summary">
    <% needs_record.ratings.where(status: :rare).each do |rating| %>
      <div class="need <%= need_color_class(rating) %>"><%= rating.need %></div>
    <% end %>
  </div>
<% end %>
