<p style="color: green"><%= notice %></p>

<div class="action-header">
  <div>
    <h1>Needs Records</h1>
  </div>
  <div>
    <%= render "shared/modal", btn_text: "Create a needs record", title: "New Needs Record" do %>
      <%= render "needs_records/form" %>
    <% end %>
  </div>
</div>

<% if @needs_records.any? %>
  <div id="needs_records" class="card">
    <% @needs_records.each do |needs_record| %>
      <p><%= link_to needs_record, needs_record %></p>
    <% end %>
  </div>
<% else %>
  <div class="card">
    <%= image_tag "illustrations/needs.svg", alt: "Illustration of a woman holding a sad face.", class: "illustration" %>
    <h2>Needs Attention?</h2>
    <p>Feeling out of sync?</p>
    <p>Our Needs Records feature helps you pinpoint what truly matters.</p>
    <p>In just moments, you can rate essential needs like "Connection," "Safety," or "Autonomy" as "Rarely Met," "Sometimes Met," or "Consistently Met."</p>
    <p>This quick snapshot provides valuable insight into your emotional landscape.</p>
    <p>Plus, if you're connected with a therapist, you can easily share your Needs Records to foster deeper conversations and more targeted support.</p>
    <p>Start understanding yourself better, today.</p>
  </div>
<% end %>
