<%= turbo_frame_tag "needs-record" do %>
  <% if @needs_record.completed? %>
    <%= render "completed" %>
  <% else %>
    <h1><%= @needs_record %></h1>
    <p class="large-text">At this moment in your life, how often do you think this need is met?</p>
    <div class="card container-small">
      <div class="text-center">
      <p class="text-secondary"><%= @rating.need %></p>
      </div>
      <%= render "need_ratings/form" %>
    </div>
  <% end %>
<% end %>
