<% if @note.errors.any? %>
  <div class="validation-error">
    <% @note.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
</div>
<div>
  <%= f.label :date %>
  <%= f.date_field :date, required: true %>
</div>
<div>
  <%= f.rich_text_area :content, required: true %>
</div>
