<h2><%= report %></h2>

<% unless report.completed? %>
  <p>This report isn't finished yet.</p>

  <p><%= link_to "Continue", report_path(report), class: "btn" %></p>
<% end %>

<% Rating::RATINGS.each do |rating_title| %>
  <h3><%= rating_title %></h3>
  <div class="card report-summary">
    <% report.ratings.where(title: rating_title).each do |rating| %>
      <div class="need <%= need_color_class(rating) %>"><%= rating.need %></div>
    <% end %>
  </div>
<% end %>
