<h1><%= @report %></h1>

<%= turbo_frame_tag "rating-form" do %>
  <h2><%= @rating.need %></h2>

  <%= form_with model: @rating, local: false do |f| %>
    <%= f.hidden_field :report_id, value: @report.id %>

    <% Rating::RATINGS.each do |rating| %>
      <div>
        <%= f.radio_button :title, rating %>
        <%= f.label rating %>
      </div>
    <% end %>

    <%= f.submit %>
  <% end %>
<% end %>
