<h1><%= @report %></h1>

<% if @report.completed? %>
  <%= render "report", report: @report %>
<% else %>
  <%= turbo_frame_tag "rating-form" do %>
    <h2><%= @rating.need %></h2>

    <%= render "ratings/form" %>
  <% end %>
<% end %>
