<% content_for :therapy do %>
  <div class="vstack">
    <%= render "therapies/therapy", therapy: @therapy do %>
      <p>
      <strong>Started:</strong>
      <%= @therapy.started_date %>
      </p>

      <% if @therapy.completed_at? %>
        <p>
        <strong>Completed at:</strong>
        <%= @therapy.completed_date %>
        </p>
      <% end %>
      <% if current_user.therapist? %>
        <% if @therapy.completed_at? %>
          <%= form_with model: @therapy, url: mark_active_therapy_path(@therapy), method: :patch do |f| %>
            <%= f.submit "Mark active", class: "action-link" %>
          <% end %>
        <% else %>
          <%= form_with model: @therapy, url: mark_completed_therapy_path(@therapy), method: :patch do |f| %>
            <%= f.submit "Mark completed", class: "action-link" do %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= render "therapies/navbar" %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
